<nav class="navbar navbar-inverse navbar-no-bg register" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
							<span class="li-text">
                                <a href="#!/profile/edit"> <strong>PROFILE</strong></a>
							</span>
                </li>
                <li>
                    <span class="li-text">
                                <a ng-click="model.logout()"> <strong>LOG OUT</strong></a>
							</span>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="thumbnail">
        <h3>Admin Page</h3>
        <div id="tabs" class="container">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" data-target="#user"><h5>User Details</h5></a></li>
                <li><a data-toggle="pill" data-target="#venue"><h5>House Details</h5></a></li>
                <li><a data-toggle="pill" data-target="#newuser"><h5>New User</h5></a></li>
            </ul>
            <div class="tab-content">
                <div id="user" class="tab-pane fade in active">
                    <div id="adminUserList">
                        <div ng-show="model.users.length == 0">
                            <h3>No Users have Signed Up</h3>
                        </div>
                        <div ng-hide="model.users.length == 0">
                            <h3>Showing {{model.users.length}} users</h3>
                        </div>
                        <div id="adminUserSection" ng-repeat="user in model.users">
                            <div class="row">
                                <div class="col-xs-4 col-md-1">
                                    <image id="adminUserImage" ng-src="{{user.displayPicture}}"></image>
                                </div>
                                <div id="adminUsers" class="col-xs-8 col-md-11">
                                    <form>
                                        <div class="form-group">
                                            <input ng-model="user.firstName"
                                                   type="text"
                                                   required
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input ng-model="user.lastName"
                                                   type="text"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input ng-model="user.email"
                                                   type="email"
                                                   class="form-control">
                                        </div>
                                    </form>
                                    <div>
                                        <button id="deleteAdminButton" ng-click="model.deleteUser(user)"
                                                class="btn btn-block btn-danger">Delete User
                                        </button>
                                    </div>
                                    <button id="editAdminButton" ng-click="model.updateUser(user)"
                                            class="btn btn-block btn-success">Update User
                                    </button>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="venue" class="tab-pane fade">
                    <div id="adminVenueList">
                        <div ng-show="model.venues.length == 0">
                            <h3>No Houses Have Been Listed Yet.. </h3>
                        </div>
                        <div ng-hide="model.venues.length == 0">
                            <h3>Showing {{model.venues.length}} Houses</h3>
                        </div>
                        <div id="adminVenueSection" ng-repeat="venue in model.venues">
                            <div class="row">
                                <div class="col-xs-4 col-md-1">
                                    <image id="adminVenueImage"
                                           ng-src="https://www.drphillipscenter.org/resources/images/default.jpg"></image>
                                </div>
                                <div id="adminVenue" class="col-xs-8 col-md-11">
                                    <div class="col-xs-7 col-md-3">
                                        <h4><strong>{{venue.name}}</strong></h4>
                                    </div>
                                    <div class="col-xs-8 col-md-3">
                                        <button id="deleteVenueAdminButton" ng-click="model.deleteVenue(venue.venueId)"
                                                class="btn btn-block btn-danger">Delete House
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="newuser" class="tab-pane fade">
                    <div ng-show="model.error"
                         class="errorAlert alert alert-danger"
                         role="alert">
                        <p><strong></strong> {{model.error}}</p>
                    </div>
                    <form>
                        <div class="form-group">
                            <input ng-model="user.firstName"
                                   type="text"
                                   required
                                   name="firstName"
                                   id="firstName"
                                   class="form-control"
                                   placeholder="*First Name">
                        </div>
                        <div class="form-group">
                            <input ng-model="user.lastName"
                                   type="text"
                                   name="lastName"
                                   id="lastName"
                                   class="form-control"
                                   required placeholder="*Last Name">
                        </div>
                        <div class="form-group">
                            <input ng-model="user.username"
                                   type="text"
                                   name="username"
                                   id="username"
                                   class="form-control"
                                   required placeholder="*Username">
                        </div>
                        <div class="form-group">
                            <input ng-model="user.email"
                                   type="email"
                                   name="email"
                                   id="email"
                                   class="form-control"
                                   required placeholder="*Email Address">
                        </div>
                        <div class="form-group">
                            <input ng-model="user.password"
                                   type="password"
                                   name="password"
                                   id="password"
                                   class="form-control"
                                   required placeholder="*Password">
                        </div>
                        <button type="submit"
                                ng-click="model.register(user)"
                                class="btn btn-block btn-primary">Create User
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>