<nav class="navbar navbar-inverse navbar-no-bg register" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="top-navbar-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
                    <span class="li-text">
                    <a href="#!/profile/view" class="navbar-link">
                       <strong>BACK</strong>
                    </a>
                    </span>
				</li>
			</ul>
		</div>
	</div>
</nav>
        <div class="top-content login">
        	
            <div class="inner-bg">
                <div class="container">
                    <div id="loginrow" class="row">
                        <div id="loginhead" class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Property Search Made Easy!</strong></h1>
                            <div class="description">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div id ="loginform" class="form-top-left">
                        			<h3 id="loginh3" >Login to our site with Admin access</h3>
                            		<p id="loginp" >Enter your username and password to log on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only">Username</label>
			                        	<input type="text" ng-model="username"  placeholder="Username..." class="form-username form-control">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" ng-model="password"  placeholder="Password..." class="form-password form-control">
			                        </div>
									<a ng-click="model.adminLogin(username, password)"
									   class="btn btn-primary btn-block">Login</a>
			                    </form>
		                    </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>

