input.form-control ,
textarea.form-control ,
select.form-control{
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

nav.navbar.navbar-default.navbar-fixed-top{
    padding-right: 15px;
}

.navbar-default {
    background-color: black;
    border-color: black;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar-header{
    width: 100%;
}

.navbar.navbar-default a {
    color: white;
}


.row.navbar-text{
    width: 100%;
}

.wd-widgets > img{
    width: 100%;
    padding-bottom: 10px;
}

.wd-widgets > .wd-widgets-toolbar{
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.8;
    padding: 5px;
    border-bottom-left-radius: 5px;
}

.list-group-item > .row, .list-group-item > a{
    padding-right: 10px;
    padding-left: 20px;
}