
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-header">
    <div class="navbar-brand">
        <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
            Choose Widget
        </a>
    </div>
</div>
</nav>


<div class="container-fluid">
<ul class="list-group">
    <!--<li class="list-group-item">-->
                <!--<a ng-click= "model.createWidget(model.widgetType)" class="navbar-link">-->
                    <!--Header-->
                <!--</a>-->
    <!--</li>-->
    <!--<li class="list-group-item">-->
        <!--<a ng-click= "model.createWidget(widget)" class="navbar-link">-->
            <!--Image-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="list-group-item">-->
        <!--<a ng-click= "model.createWidget(widget)" class="navbar-link">-->
            <!--YouTube-->
        <!--</a>-->
    <!--</li>-->
    <li class="list-group-item" ng-repeat="widgetType in model.widgetType">
        <a ng-click="model.createWidget(widgetType.widgetType)" class="navbar-link">
            {{widgetType.text}}
        </a>
    </li>

</ul>
</div>

<!-- <nav class="navbar navbar-default navbar-fixed-bottom">
<div class="container">
    <div class="row navbar-text">
        <div class="col-xs-3 text-center">
            <a href="#">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="col-xs-3 text-center">
            <a href="#">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="col-xs-3 text-center">
            <a href="#">
                <span class="glyphicon glyphicon-star"></span>
            </a>
        </div>
        <div class="col-xs-3 text-center">
            <a href="#">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
        </div>
    </div>
</div>
</nav> -->

<div ng-include="'views/common/footer.view.client.html'"></div>
