<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-header">
<div class="navbar-brand">
    <a href="../../page/templates/page-list.view.client.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#">
        Widgets
    </a>
</div>
<p class="navbar-text pull-right">
    <a href="widget-chooser.view.client.html" class="navbar-link">
<span class="glyphicon glyphicon-plus">
</span>
    </a>
</p>
</div>
</nav>



<div class="container-fluid">
<div ng-repeat="widget in model.widgets" class="wd-widgets">
<div class="wd-widgets-toolbar">
    <a href="widget-heading.view.client.html">
    <span class="glyphicon glyphicon-cog"></span>
    </a>
    <span class="glyphicon glyphicon-align-justify"></span>
</div>

    <div ng-include="model.widgetUrl(widget)"></div>
    <!--<div ng-switch="widget.widgetType">-->
        <!---->
        <!--<div ng-switch-when="HEADING">-->
            <!--<div ng-include="'views/widget/templates/widget-list-heading.view.client.html'"></div>-->
        <!--</div>-->
        <!--<div ng-switch-when="IMAGE">-->
            <!--<div ng-include="'views/widget/templates/widget-list-image.view.client.html'"></div>-->
       <!--</div>-->
        <!--<div ng-switch-when="YOUTUBE">-->
            <!--<iframe width="100%" src="{{model.getYouTubeEmbedUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>-->
        <!--</div>-->
        <!--<div ng-switch-when="HTML" ng-bind-html="model.trust(widget.text)">-->
        <!--</div>-->
    <!--</div>-->
</div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>