
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <div class="navbar-brand">
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Widget Edit
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a ng-click = "model.widgetUpdate(model.widget)" class="navbar-link">
<span class="glyphicon glyphicon-ok">
</span>
            </a>
        </p>
    </div>
</nav>




    <!--<div ng-include="model.widgetUrl(widget)"></div> -->
<div class="container-fluid">
<div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
</div>
<div ng-switch="model.widget.type">

    <div ng-switch-when="HEADING">
        <div ng-include="'views/widget/editors/widget-heading.view.client.html'"></div>
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include="'views/widget/editors/widget-image.view.client.html'"></div>
   </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include="'views/widget/editors/widget-youtube.view.client.html'"></div>
    </div>
    <div ng-switch-when="TEXT">
        <div ng-include="'views/widget/editors/widget-text-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="HTML">
        <div ng-include="'views/widget/editors/widget-html-edit.view.client.html'"></div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>