
.profile.card {
	padding-top: 20px;
	margin: 10px 0 20px 0;
	background-color: rgba(214, 224, 226, 0.2);
	border-top-width: 0;
	border-bottom-width: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.profile.card .profile.card-heading {
	padding: 0 20px;
	margin: 0;
}

.profile.card .profile.card-heading.simple {
	font-size: 20px;
	font-weight: 300;
	color: #777;
	border-bottom: 1px solid #e5e5e5;
}

.profile.card .profile.card-heading.image img {
	display: inline-block;
	width: 46px;
	height: 46px;
	margin-right: 15px;
	vertical-align: top;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.profile.card .profile.card-heading.image .profile.card-heading-header {
	display: inline-block;
	vertical-align: top;
}

.profile.profile.card .profile.card-heading.image .profile.card-heading-header h3 {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	color: #262626;
}

.profile.profile.card .profile.card-heading.image .profile.card-heading-header span {
	font-size: 12px;
	color: #999999;
}

.profile.card .profile.card-body {
	padding: 0 20px;
	margin-top: 20px;
}

.profile.card .profile.card-media {
	padding: 0 20px;
	margin: 0 -14px;
}

.profile.card .profile.card-media img {
	max-width: 100%;
	max-height: 100%;
}

.profile.card .profile.card-actions {
	min-height: 30px;
	padding: 0 20px 20px 20px;
	margin: 20px 0 0 0;
}

.profile.card .profile.card-comments {
	padding: 20px;
	margin: 0;
	background-color: #f8f8f8;
}

.profile.card .profile.card-comments .comments-collapse-toggle {
	padding: 0;
	margin: 0 20px 12px 20px;
}

.profile.card .profile.card-comments .comments-collapse-toggle a,
.profile.card .profile.card-comments .comments-collapse-toggle span {
	padding-right: 5px;
	overflow: hidden;
	font-size: 12px;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.profile.card-comments .profile.media-heading {
	font-size: 13px;
	font-weight: bold;
}

.profile.card.people {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 300px;
	padding-top: 0;
	margin-left: 20px;
	overflow: hidden;
	vertical-align: top;
}

.profile.card.people:first-child {
	margin-left: 0;
}

.profile.card.people .profile.card-top {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 170px;
	height: 150px;
	background-color: #ffffff;
}

.profile.card.people .profile.card-top.green {
	background-color: #53a93f;
}

.profile.card.people .profile.card-top.blue {
	background-color: #427fed;
}

.profile.card.people .profile.card-info {
	position: absolute;
	top: 150px;
	display: inline-block;
	width: 100%;
	height: 101px;
	overflow: hidden;
	background: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.profile.card.people .profile.card-info .profile.title {
	display: block;
	margin: 8px 14px 0 14px;
	overflow: hidden;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #404040;
}

.profile.card.people .profile.card-info .profile.desc {
	display: block;
	margin: 8px 14px 0 14px;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	color: #737373;
	text-overflow: ellipsis;
}

.profile.card.people .profile.card-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	line-height: 29px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.profile.card.hovercard {
	position: relative;
	padding-top: 0;
	overflow: hidden;
	text-align: center;
	background-color: rgba(214, 224, 226, 0.2);
}

.profile.card.hovercard .profile.cardheader {
	background: url("http://lorempixel.com/850/280/nature/4/");
	background-size: cover;
	height: 135px;
}

.profile.card.hovercard .profile.avatar {
	position: relative;
	top: -50px;
	margin-bottom: -50px;
}

.profile.card.hovercard .profile.avatar img {
	width: 100px;
	height: 100px;
	max-width: 100px;
	max-height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.5);
}

.profile.card.hovercard .profile.info {
	padding: 4px 8px 10px;
}

.profile.card.hovercard .profile.info .profile.title {
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 1;
	color: #262626;
	vertical-align: middle;
}

.profile.card.hovercard .profile.info .profile.desc {
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}

.profile.card.hovercard .profile.bottom {
	padding: 0 20px;
	margin-bottom: 17px;
}

.profile.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }


.login.body, .register.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

.login.strong, .register.strong { font-weight: 500; }

.login.a,.register.a, .login.a:hover, .register.a:hover, .login.a:focus, .register.a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.login.h1, .register.h2, .login.h1, .register.h1 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

.login.h3, .register.h3 {
	font-size: 22px;
    font-weight: 300;
    color: black;
    line-height: 30px;
}

img { max-width: 100%; }

.login.medium-paragraph, .register.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.blue { color: #19b9e7; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.login.btn-link-1, .register.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.login.btn-link-1:hover,.register.btn-link-1:hover, .login.btn-link-1:focus,.register.btn-link-1:focus, .login.btn-link-1:active,  .register.btn-link-1:active{ outline: 0; opacity: 0.6; color: #fff; }

.login.btn-link-2, .register.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.login.btn-link-2:hover, .login.btn-link-2:focus, .register.btn-link-2:hover, .register.btn-link-2:focus,
.login.btn-link-2:active, .login.btn-link-2:active:focus, .register.btn-link-2:active, .register.btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top menu *****/

.login.navbar, .register.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.login.navbar.navbar-no-bg, .register.navbar.navbar-no-bg { background: none; }

.login.ul.navbar-nav, .register.ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.login.navbar-inverse .login.ul.navbar-nav li, .register.navbar-inverse .register.ul.navbar-nav li  { padding-top: 8px; padding-bottom: 8px; }

.login.navbar-inverse .login.ul.navbar-nav li .login.li-text, .login.register-inverse .register.ul.navbar-nav li .register.li-text { opacity: 0.8; }

.login.navbar-inverse .login.ul.navbar-nav .login.li .login.a { display: inline; padding: 0; color: #fff; }
.register.navbar-inverse .register.ul.navbar-nav .register.li .register.a { display: inline; padding: 0; color: #fff; }
.login.navbar-inverse .login.ul.navbar-nav .login.li .login.a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
.login.navbar-inverse .login.ul.navbar-nav .login.li .login.a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }
.register.navbar-inverse .register.ul.navbar-nav .register.li .register.a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
.register.navbar-inverse .register.ul.navbar-nav .register.li .register.a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }

.login.navbar-inverse .login.ul.navbar-nav .login.li .login.li-social a {
	margin: 0 5px;
	font-size: 28px;
	vertical-align: middle;
}
.login.navbar-inverse .login.ul.navbar-nav .login.li .login.li-social .login.a:hover,
.login.navbar-inverse .login.ul.navbar-nav .login.li .login.li-social .login.a:focus { border: 0; color: #19b9e7; }

.login.navbar-brand {
	width: 123px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}

.register.navbar-inverse .register.ul.navbar-nav .register.li .register.li-social a {
	margin: 0 5px;
	font-size: 28px;
	vertical-align: middle;
}
.register.navbar-inverse .register.ul.navbar-nav .register.li .register.li-social .register.a:hover,
.register.navbar-inverse .register.ul.navbar-nav .register.li .register.li-social .register.a:focus { border: 0; color: #19b9e7; }

.register.navbar-brand {
	width: 123px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}


#loginh3, #loginp{
	color: black;
}

#notuser, #loginwith{
	color: whitesmoke;
}

/***** Top content *****/
#loginrow{
	margin-bottom: -30px;
}

.inner-bg {
    padding: 60px 0 150px 0;
	margin-top: -40px;
}

.top-content .text {
	color: black;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.top-content .form-box {
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: black;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.login.navbar { padding-top: 0; }
	.login.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.login.navbar-brand { height: 60px; margin-left: 15px; }
	.login.navbar-collapse { border: 0; }
	.login.navbar-toggle { margin-top: 12px; }

	.register.navbar { padding-top: 0; }
	.register.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.register.navbar-brand { height: 60px; margin-left: 15px; }
	.register.navbar-collapse { border: 0; }
	.register.navbar-toggle { margin-top: 12px; }
	
	.inner-bg { padding: 60px 0 110px 0; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .login.navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 123px 49px !important;
    }

	.register.navbar-brand {
		background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 123px 49px !important;
	}
}

