<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-header">
    <div class="navbar-brand">
    <a href="#!/user/{{model.userId}}" class="navbar-link">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#!/user/{{model.userId}}/website">
        Property Details
    </a>
    </div>
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}/website/new">
  <span class="glyphicon glyphicon-plus">
  </span>
        </a>
    </p>
</div>
</nav>

<div class="container-fluid">
<!--<ul class="list-group">-->
    <!--<li class="list-group-item active">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-5 col-md-7 col-xs-9">-->
               <!--Name-->
            <!--</div>-->
            <!--<div class="col-lg-2 visible-lg">-->
            <!--</div>-->
            <!--<div class="col-md-2 hidden-sm hidden-xs">-->
                <!--Zipcode-->
            <!--</div>-->
            <!--<div class="col-xs-3">-->

            <!--</div>-->
        <!--</div>-->
    <!--</li>-->
    <!--<li  class="list-group-item">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-5 col-md-7 col-xs-9">-->
                <!--<a ng-click ="model.searchProperty(model.zpid)" class=" glyphicon glyphicon-link">-->
                    <!--{{model.name}}-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-2 visible-lg">-->
            <!--</div>-->
            <!--<div class="col-md-2 hidden-sm hidden-xs">-->
                <!--{{model.zipcode}}-->
            <!--</div>-->
            <!--<div class="col-xs-3">-->
                <!--<a href="#!/user/{{model.zpid}}">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</li>-->
<!--</ul>-->

    {{model.details}}



</div>


<div ng-include="'views/common/footer.view.client.html'"></div>