<div class="container-fluid">
    <h1>address</h1>

    <label for="street1">Street1</label>
    <input ng-model="street1"
           id = "street1"
           type="text"
           class="form-control"
           placeholder="123"/>

    <label for="street2">Street2</label>
    <input ng-model="street2"
           id="street2"
           type="text"
           class="form-control"
           placeholder="STREET2"/>
    <label for="street3">Street3</label>
    <input ng-model="street3"
           id="street3"
           type="text"
           class="form-control"
           placeholder="STREET3"/>
    <label for="city">City</label>
    <input ng-model="city"
           id="city"
           type="text"
           class="form-control"
           placeholder="Boston"/>
    <label for="state">State</label>
    <input ng-model="state"
           id="state"
           type="text"
           class="form-control"
           placeholder="MA"/>
    <a  ng-click="model.searchAddress(street1, street2, street3, city, state)"
       class="btn btn-primary btn-block">
        SearchAddress</a>
</div>
