<nav class="navbar navbar-inverse navbar-no-bg register" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
							<span class="li-text">
                                <a href="#!/profile/edit"> <strong>PROFILE EDIT</strong></a>
							</span>
                </li>
                <li>
                    <span class="li-text">
                                <a ng-click="model.logout()"> <strong>LOG OUT</strong></a>
							</span>
                </li>
                <li>
                    <span class="li-text">
                                <a href="#!/admin"> <strong>ADMIN</strong></a>
							</span>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!--<div class="container-fluid profile">-->
    <!--<div class="row container-fluid">-->
        <!--<div class="container-fluid">-->

            <!--<div class="card hovercard">-->
                <!--<div class="cardheader">-->

                <!--</div>-->
                <!--<div class="avatar">-->
                    <!--<img id="venueImage" ng-src="{{model.user.displayPicture}}" class="img-rounded">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="title">-->
                        <!--<a target="_blank" href="http://scripteden.com/">Script Eden</a>-->
                    <!--</div>-->
                    <!--<h2>{{model.user.firstName}} {{model.user.lastName}}</h2>-->
                    <!--<p>-->
                        <!--<i class="fa fa-envelope"></i> {{model.user.email}}-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                    <!--<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">-->
                        <!--<i class="fa fa-twitter"></i>-->
                    <!--</a>-->
                    <!--<a class="btn btn-danger btn-sm" rel="publisher"-->
                       <!--href="https://plus.google.com/+ahmshahnuralam">-->
                        <!--<i class="fa fa-google-plus"></i>-->
                    <!--</a>-->
                    <!--<a class="btn btn-primary btn-sm" rel="publisher"-->
                       <!--href="https://plus.google.com/shahnuralam">-->
                        <!--<i class="fa fa-facebook"></i>-->
                    <!--</a>-->
                    <!--<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">-->
                        <!--<i class="fa fa-behance"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <div id="searchResultPage" class="container-fluid ">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <img ng-show="model.user.displayPicture" id="venueImage" ng-src="{{model.user.displayPicture}}" class="img-rounded">
                        <img ng-hide="model.user.displayPicture" src="./assets/img/backgrounds/user.png" class="img-rounded">
                    </div>
                    <div id="profileDetails" class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
                        <h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
                        <p>
                            <i class="fa fa-envelope"></i> {{model.user.email}}
                        </p>
                        <p>
                            Contact No : {{model.user.Phone}}
                        </p>
                    </div>
                </div>
            </div>

    </div>

<div class="container-fluid">
<div class="thumbnail">
    <div id="tabs">
        <ul class="nav nav-pills nav-justified">
            <div ng-show="model.user.roles.indexOf('SELLER') >-1">
                <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" data-target="#timeline">Posts</a></li>
            <li><a data-toggle="pill" data-target="#favorites">Listed Houses({{model.user.favorites.length}})</a></li>
            <li><a data-toggle="pill" data-target="#friendsList">Contacts({{model.frnds.length}})</a></li>
            <li><a data-toggle="pill" data-target="#friendRequests">Contact Requests({{model.fRequests.length}})</a>
            </li>
                </ul>
            </div>
            <div ng-show="model.user.roles.indexOf('BUYER') >-1">
                <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="pill" data-target="#timeline">Posts</a></li>
                <li><a data-toggle="pill" data-target="#favorites">Liked Houses({{model.user.favorites.length}})</a></li>
                <li><a data-toggle="pill" data-target="#friendsList">Contacts({{model.frnds.length}})</a></li>
                <li><a data-toggle="pill" data-target="#friendRequests">Contact Requests({{model.fRequests.length}})</a>
                </li>
                </ul>
            </div>
            <div ng-show="model.user.roles.indexOf('SELLER') =-1">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a data-toggle="pill" data-target="#timeline">Posts</a></li>
                    <li><a data-toggle="pill" data-target="#favorites">Liked Houses({{model.user.favorites.length}})</a></li>
                    <li><a data-toggle="pill" data-target="#friendsList">Contacts({{model.frnds.length}})</a></li>
                    <li><a data-toggle="pill" data-target="#friendRequests">Contact Requests({{model.fRequests.length}})</a>
                    </li>
                </ul>
            </div>

        <div class="tab-content">
            <div id="timeline" class="tab-pane fade in active">
                <div class="row">
                    <form>
                            <textarea type="text"
                                      rows="3"
                                      name="note"
                                      id="note"
                                      ng-model="noteValue"
                                      placeholder="Whats' on your mind ???"
                                      required class="form-control">
                            </textarea>
                        <button id="postSubmit" ng-click="model.addNote(noteValue)" class="btn btn-block btn-primary">Post
                        </button>
                    </form>
                </div>
                <div ng-hide="model.nts.length === 0" id="usersCommentsHead" class="row">
                    <strong><h4>Your Wall</h4></strong>
                </div>
                <div ng-show="model.nts.length == 0" class="row">
                    <strong><h4>No posts yet on your Wall. Add your first Post Now !!</h4></strong>
                </div>
                <div id="commentsList" class="row" ng-repeat="note in model.nts | orderBy: '-createdOn'">
                    <div class="col-xs-4 col-md-1">
                        <image ng-show="note.writerDetails.displayPicture" href="#!/profile/friend/{{note.writerDetails._id}}" id="commentImage"
                               ng-src="{{note.writerDetails.displayPicture}}"></image>
                        <img ng-hide="note.writerDetails.displayPicture" src="./assets/img/backgrounds/user.png" class="img-rounded">

                    </div>
                    <div class="col-xs-7 col-md-11">
                        <div id="postedBy" class="row">
                            <a href="#!/profile/friend/{{note.writerDetails._id}}">
                                <h4><strong>{{note.writerDetails.firstName}}</strong></h4>
                            </a>
                        </div>
                        <div class="row">
                            <div id="commentValueID" class="col-xs-7 col-md-9">
                                {{note.value}}
                            </div>
                            <div class="col-xs-1 col-md-1">
                                <button id="deleteButton" ng-click="model.deleteNote(note)"
                                        class="btn btn-block btn-danger pull-right glyphicon glyphicon-remove">
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <h5>{{model.convertDate(note.createdOn)}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div id="favorites" class="tab-pane fade">
                <div>
                    <form>
                        <div class="form-top">
                        <div class="form-top-left">
                        <h4 id="loginh3">Search Property</h4>
                        <p id="loginp">Fill in the address to get instant details:</p>
                        </div>
                        <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                        </div>
                        </div>
                        <div class="form-bottom">
                        <form role="form" action="" method="post" class="registration-form">
                        <div class="form-group">
                        <label class="sr-only" >Start Typing your address</label>
                        <input class="form-username form-control" vs-google-autocomplete="options"
                        ng-model="address"
                        name="address"
                        type="text"
                        placeholder="99 Calumet Street Boston Ma"></div>
                        </form>
                            <div ng-show="model.currentUser.roles.indexOf('BUYER') > -1">
                                <a ng-click="model.searchAddress(address)" class="btn btn-primary btn-block">Find Details</a>
                                </div>
                                <div ng-show="model.currentUser.roles.indexOf('SELLER') > -1">
                                <a ng-click="model.searchAddressZestimate(address)" class="btn btn-primary btn-block">Get Rent Estimate</a>
                                </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <h4>{{model.error}}</h4>
                    <div class="favoritesCount" ng-show="model.user.favorites.length === 0">
                        <strong><h4>
                            You haven't Listed any houses. Search locations to add it to your
                            List.
                        </h4></strong>
                    </div>
                    <div class="favoritesCount" ng-show="model.user.favorites.length == 1">
                        <strong><h4>
                            You have Listed 1 location.
                        </h4></strong>
                    </div>
                    <div class="favoritesCount" ng-show="model.user.favorites.length > 1">
                        <strong><h4>
                            You have marked {{model.user.favorites.length}} locations as Listed.
                        </h4></strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in model.user.favorites">
                        <div class="thumbnail">
                            <div class="embed-responsive embed-responsive-4by3">
                                <a href="#!/searchresults/{{item.venueId}}">
                                    <div ng-hide="model.imgURL"> <img src="./assets/img/backgrounds/buyer.jpg"></div>
                                    <image id="searchImage" ng-src="{{item.venueImage}}"></image>
                                </a>
                            </div>
                            <div class="caption">
                                <a class="noDecoration" href="#!/searchresults/{{item.venueId}}">
                                    <h4>{{item.venueName | limitTo:33}}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="friendsList" class="tab-pane fade">
                <div class="row">
                    <form>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <input ng-model="friendName"
                                           class="form-control"
                                           name="friendName"
                                           type="text"
                                           required
                                           placeholder="Enter username">
                                </div>
                                <div class="col-md-4">
                                    <button type="submit"
                                            ng-click="model.findFriend(friendName)"
                                            class="btn btn-block btn-success">Find Contacts
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div id="friendSearchResult" ng-show="model.friendSearch">
                    <div>
                        <h4>Displaying result for your Contact search</h4>
                    </div>
                    <div id ="Contactstext" class="row">
                        <a href="#!/profile/friend/{{model.friendSearch._id}}">
                            <div class="col-xs-4 col-md-1">
                                <image id="img" ng-hide="!model.friendSearch.displayPicture" id="commentImage" ng-src="{{model.friendSearch.displayPicture}}"></image>
                                <img ng-hide="model.friendSearch.displayPicture" src="./assets/img/backgrounds/user.png" class="img-rounded">
                            </div>
                            <div class="col-xs-8 col-md-5">
                                <h4>{{model.friendSearch.firstName}} {{model.friendSearch.lastName}}</h4>
                            </div>
                        </a>
                    </div>
                    <hr>
                </div>
                <div id="frndsList">
                    <div ng-show="model.frnds.length ==0">
                        <h4>You don't have any contacts in your list. Search for a contact above !!</h4>
                    </div>
                    <div ng-show="model.frnds.length > 0">
                        <h4>You have {{model.frnds.length}} contacts in your list. Search for contacts above</h4>
                    </div>
                    <div class="row" ng-repeat="item in model.frnds">
                        <div class="col-xs-4 col-md-1">
                            <a href="#/user/friend/{{item._id}}">
                                <image id="commentImage" ng-src="{{item.displayPicture}}"></image>
                            </a>
                        </div>
                        <div id="commentBlockId" class="col-xs-8 col-md-11">
                            <div id="commentedUser" class="row">
                                <a href="#!/profile/friend/{{item._id}}">
                                    <h4><strong>{{item.firstName}} {{item.lastName}}</strong></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="friendRequests" class="tab-pane fade">
                <div>
                    <h4>You have {{model.fRequests.length}} pending requests</h4>
                </div>
                <div class="row" ng-repeat="item in model.fRequests">
                    <div class="col-xs-4 col-md-1">
                        <a href="#!/proflie/friend/{{item._id}}">
                            <image id="commentImage" ng-src="{{item.displayPicture}}"></image>
                        </a>
                    </div>
                    <div class="frendListId" class="col-xs-8 col-md-11">
                        <div class="frendListName" class="row">
                            <a href="#!/profile/friend/{{item._id}}">
                                <h4><strong>{{item.firstName}} {{item.lastName}}</strong></h4>
                            </a>
                        </div>
                        <div class="row container-fluid">
                            <button ng-click="model.requestAccept(item._id)" class="btn btn-primary requestButton glyphicon glyphicon-ok">
                            </button>
                            <button ng-click="model.requestDeny(item._id)" class="btn btn-danger requestButton glyphicon glyphicon-remove">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
