<nav class="navbar navbar-inverse navbar-no-bg register" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
							<span class="li-text">
                                <a href="#!/profile/view"> <strong>PROFILE</strong></a>
							</span>
                </li>
                <li>
							<span class="li-text">
                                <a ng-click="model.logout()"> <strong>LOG OUT</strong></a>
							</span>
                </li>
                <li>
                    <span class="li-text">
                    <a href="#!/profile/view" class="navbar-link">
                       <strong>BACK</strong>
                    </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid" id="editProfilePage">
    <h2><strong>Edit Profile</strong></h2>
    <div class="row">
        <div id="editprofile" class="col-xs-12 col-sm-3 col-md-3">
            <div class="thumbnail">
                <div ng-show="{{model.user.displayPicture}}"><img id="searchImage" ng-src="{{model.user.displayPicture}}" class="img-rounded"></div>
                <div ng-hide="{{model.user.displayPicture}}"><img src="./assets/img/backgrounds/user.png"></div>
                <form action="/api/project/uploads" method="post" enctype="multipart/form-data">
                    <input required name="myImgFile" type="file" class="form-control"
                           placeholder="Add a display picture"/>
                    <input name="userId" value="{{model.user._id}}" style="display: none"/>
                    <button type="submit" class="btn btn-block btn-primary">Upload & Save Image</button>
                </form>
                <button ng-click="model.deleteImage()" class="btn btn-block btn-danger">Delete Image</button>
                <div ng-show="model.imgDeleteError"
                     class="errorAlert alert alert-danger"
                     role="alert"><strong>Error !!</strong> {{model.imgDeleteError}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">


            <div id="generalbody" class="container-fluid">
                <form>
                    <div ng-show="model.error"
                         class="alert alert-danger">
                        {{model.error}}
                    </div>
                    <div ng-show="model.message"
                         class="alert alert-info">
                        {{model.message}}
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input  ng-model="model.user.username"
                                type="text"
                                class="form-control"
                                id="username"
                                placeholder="alice@123">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email"
                               ng-model="model.user.email"
                               class="form-control"
                               id="email"
                               placeholder="alice@wonderland.com">
                    </div>
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input ng-model="model.user.firstName"
                               type="text"
                               class="form-control"
                               id="first-name"
                               placeholder="Alice">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input ng-model="model.user.lastName"
                               type="text"
                               class="form-control"
                               id="last-name"
                               placeholder="Wonderland">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Phone</label>
                        <input ng-model="model.user.Phone"
                               type="text"
                               class="form-control"
                               id="phone"
                               placeholder="+12345678">
                    </div>
                </form>
                <a  ng-click="model.updateUser(model.user)"
                    class="btn btn-success btn-block"
                >Update</a>
                <a  ng-click="model.deleteUser(model.user)"
                    class="btn btn-danger btn-block"
                >Unregister</a>
                <a class="btn btn-danger  btn-block"
                   ng-click="model.logout()" >Logout</a>
            </div>



        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>