<!--<nav class="navbar navbar-fixed-top navbar-default">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
                    <!--aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a href="#/main" id="logo" class="navbar-brand">GoPlaces</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li ng-hide={{model.currentUser}}><a href="#/login?venueId={{model.venueId}}"><h4>Login</h4></a></li>-->
                <!--<li ng-hide={{model.currentUser}}><a href="#/register"><h4>Register</h4></a></li>-->
                <!--<li ng-show={{model.currentUser}}><a href="#/user"><h4>{{currentUser.firstName}}</h4></a></li>-->
                <!--<li ng-show={{model.currentUser}}><a href="#/user/edit"><h4>Edit Profile</h4></a></li>-->
                <!--<li ng-show={{model.currentUser}}><a ng-click="model.logout()"><h4>Logout</h4></a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<nav class="navbar navbar-inverse navbar-no-bg register" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
							<span class="li-text">
                                <a href="#!/profile/view"> <strong>PROFILE</strong></a>
							</span>
                </li>
                <li>
                    <span class="li-text">
                                <a ng-click="model.logout()"> <strong>LOG OUT</strong></a>
							</span>
                </li>
                <li>
                    <span class="li-text">
                    <a href="#!/profile/view" class="navbar-link">
                       <strong>BACK</strong>
                    </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="searchResultPage" class="container">
    <div class="thumbnail">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <img id="venueImage" ng-src="{{model.user.displayPicture}}" class="img-rounded">
            </div>
            <div id="profileDetails" class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
                <h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
                <p>
                    <i class="fa fa-envelope"></i> {{model.user.email}} <br>
                </p>
                <p>
                 {{model.user.roles[0]}} <br>
                </p>
                <p>
                   CONTACT : {{model.user.Phone}} <br>
                </p>
                <div id="frendReq" ng-show={{model.currentUser}}>
                    <div ng-show="model.isFriends">
                        <a ng-click="model.unfriend()"><h4>Remove from contacts</h4></a>
                    </div>
                    <div ng-show="model.requestSent">
                        <a ng-click="model.cancelRequest()"><h4>Cancel contact request</h4></a>
                    </div>
                    <div ng-show="model.notFriends">
                        <a ng-click="model.addfriend()"><h4>Add as a contact</h4></a>
                    </div>
                    <div ng-show="model.accptFrend">
                        <a ng-click="model.requestAccept()"><h4>Accept as a contact</h4></a>
                    </div>
                    <div ng-show="model.accptFrend">
                        <a ng-click="model.requestDeny()"><h4>Reject contact Request</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnail" id="profileBodyThumbnail">
        <div id="tabs">
            <div ng-show="model.user.roles.indexOf('SELLER') >-1">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" data-target="#timeline">Posts</a></li>
                <li><a data-toggle="pill" data-target="#favorites">Listed Houses({{model.user.favorites.length}})</a></li>
                <li><a data-toggle="pill" data-target="#friendsList">Contacts ({{model.frnds.length}})</a></li>
            </ul>
            </div>
            <div ng-show="model.user.roles.indexOf('BUYER') >-1">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" data-target="#timeline">Posts</a></li>
                    <li><a data-toggle="pill" data-target="#favorites">Interested Houses({{model.user.favorites.length}})</a></li>
                    <li><a data-toggle="pill" data-target="#friendsList">Contacts ({{model.frnds.length}})</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="timeline" class="tab-pane fade in active">
                    <div ng-hide={{model.currentUser}}>
                        <strong><h4>You need to login to view the posts </h4></strong>
                    </div>
                    <div ng-show={{model.currentUser}}>
                        <div ng-show="model.isFriends" class="row">
                            <form>
                            <textarea type="text"
                                      rows="3"
                                      name="note"
                                      id="note"
                                      ng-model="noteValue"
                                      placeholder="Post something on {{model.user.firstName}}'s wall"
                                      required class="form-control">
                            </textarea>
                                <button id="postSubmit" ng-click="model.addNote(noteValue)" class="btn btn-block btn-primary">
                                    Post
                                </button>
                            </form>
                        </div>
                        <div ng-hide="model.nts.length == 0" id="usersCommentsHead" class="row">
                            <strong><h4>{{model.user.firstName}}'s Wall</h4></strong>
                        </div>
                        <div ng-show="model.nts.length == 0" class="row">
                            <strong><h4>No posts on {{model.user.firstName}}'s Wall yet</h4></strong>
                        </div>
                        <div id="commentsList" class="row" ng-repeat="note in model.nts | orderBy: '-createdOn'">
                            <div class="col-xs-4 col-md-1">
                                <image href="#/user/friend/{{note.writerDetails._id}}" id="commentImage"
                                       ng-src="{{note.writerDetails.displayPicture}}"></image>
                            </div>
                            <div class="col-xs-7 col-md-11">
                                <div id="postedBy" class="row">
                                    <a href="#/user/friend/{{note.writerDetails._id}}">
                                        <h4><strong>{{note.writerDetails.firstName}}</strong></h4>
                                    </a>
                                </div>
                                <div class="row">
                                    <div id="commentValueID" class="col-xs-7 col-md-9">
                                        {{note.value}}
                                    </div>
                                    <div class="col-xs-1 col-md-1">
                                        <button ng-show="model.xplrUsr && (note.writtenBy == model.xplrUsr._id)"
                                                id="deleteButton"
                                                ng-click="model.deleteNote(note)" class="btn btn-primary pull-right">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <h5>{{model.convertDate(note.createdOn)}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="favorites" class="tab-pane fade">
                    <div class="friendFavorite">
                        <div class="row">
                            <div class="favoritesCount" ng-show="model.user.favorites.length === 0">
                                <strong><h4>
                                    {{model.user.firstName}} did not add any House.
                                </h4></strong>
                            </div>
                            <div class="favoritesCount" ng-show="model.user.favorites.length == 1">
                                <strong><h4>
                                    {{model.user.firstName}} has marked 1 House.
                                </h4></strong>
                            </div>
                            <div class="favoritesCount" ng-show="model.user.favorites.length > 1">
                                <strong><h4>
                                    {{model.user.firstName}} has marked {{model.user.favorites.length}} locations as his
                                    Favorite.
                                </h4></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in model.user.favorites">
                                <div class="thumbnail">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <a href="#!/searchresults/{{item.venueId}}">
                                            <div ng-hide="model.imgURL"> <img src="./assets/img/backgrounds/buyer.jpg"></div>

                                        </a>
                                    </div>
                                    <div class="caption">
                                        <a class="noDecoration" href="#/venue/{{item.venueId}}">
                                            <h4>{{item.venueName | limitTo:33}}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="friendsList" class="tab-pane fade">
                    <div ng-hide={{model.currentUser}}>
                        <strong><h4>You need to login to check {{model.user.firstName}}'s friend list </h4></strong>
                    </div>
                    <div ng-show={{model.currentUser}}>
                        <div id="frndsList">
                            <div ng-show="model.frnds.length ==0">
                                <h4>{{model.user.firstName}} has no friends in his list.</h4>
                            </div>
                            <div ng-show="model.frnds.length > 0">
                                <h4>{{model.user.firstName}} has {{model.frnds.length}} friends in his list.</h4>
                            </div>
                            <div class="row" ng-repeat="item in model.frnds">
                                <div class="col-xs-4 col-md-1">
                                    <a href="#/user/friend/{{item._id}}">
                                        <image id="commentImage" ng-src="{{item.displayPicture}}"></image>
                                    </a>
                                </div>
                                <div id="commentBlockId" class="col-xs-8 col-md-11">
                                    <div id="commentedUser" class="row">
                                        <a href="#/user/friend/{{item._id}}">
                                            <h4><strong>{{item.firstName}} {{item.lastName}}</strong></h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>