<nav class="navbar navbar-inverse navbar-no-bg register" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="top-navbar-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
							<span class="li-text">
                                <a href="#!/login"> <strong>LOGIN</strong></a>
							</span>
				</li>
				<li>
							<span class="li-text">
							</span>
					<a href="#"><strong>or login with:</strong></a>
					<span class="li-text">
							</span>
					<span class="li-social">
								<a href="/auth/facebook"><i class="fa fa-facebook"></i></a>
								<a href="/auth/project/google"><i class="fa fa-google-plus"></i></a>
							</span>
				</li>
				<li>
                    <span class="li-text">
                    <a href="#!/" class="navbar-link">
                       <strong>BACK</strong>
                    </a>
                    </span>
				</li>
			</ul>
		</div>
	</div>
</nav>

        <div class="top-content register">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>JOIN US!</strong> </h1>
                            <div class="description">
                            	<p>
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 hidden-xs phone">
							<img src="./assets-reg/img/iphone.png" alt="iphone">

						</div>
                        <div class="col-sm-5 form-box">
							<div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
							<div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3 id="loginh3">Register to our App</h3>
                            		<p id="loginp">Fill in the form below to get instant access:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="registration-form">
			                    	<div class="form-group">
			                    		<label class="sr-only">username</label>
			                        	<input type="text" ng-model="username" placeholder="username" class="form-control">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only">password</label>
			                        	<input type="password" ng-model="password" placeholder="password" class="form-control">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only">verify password</label>
			                        	<input type="password"  ng-model="password2" placeholder="Verify password" class="form-control">
			                        </div>
									<label class="sr-only">Choose your role</label>
									<div class="radio">
										<label><input id ="Buyer" type="radio" ng-model="role" value="BUYER">Buyer</label>
									</div>
									<div class="radio">
										<label><input id="Seller" type="radio" ng-model="role" value="SELLER">Seller</label>
									</div>
									<a ng-click="model.register(username, password, password2, role)" class="btn btn-primary btn-block">Register</a>			                    </form>
		                    </div>
							<div class="col-sm-6 col-sm-offset-3 ">
								<h3 id="notuser" >already a user? login:</h3>
								<div class="social-login-buttons">
									<a href="#!/login" class="btn btn-block btn-success" >
										<i ></i> Login
									</a>
								</div>
							</div>
                        </div>

                </div>
            </div>
            
        </div>

